* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif; }

button,
a {
  cursor: pointer; }

.wrapper {
  margin: 0 auto 48px auto; }

.inner {
  max-width: 1200px;
  padding: 32px 120px;
  overflow-x: hidden; }
  @media (max-width: 991px) {
    .inner {
      padding: 32px 60px; } }
  @media (max-width: 767px) {
    .inner {
      padding: 32px 30px; } }
  @media (max-width: 575px) {
    .inner {
      padding: 32px 20px; } }

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row; }

.container_column {
  flex-direction: column; }

*:focus {
  outline: webkit focus ring color auto 0px !important; }

body {
  background: rgba(241, 220, 201, 0.3); }

.card {
  padding: 24px;
  margin-bottom: 24px;
  width: calc((100% - 24px) / 2);
  border-radius: 10px;
  box-sizing: border-box;
  background: rgba(241, 220, 201, 0.1); }
  @media (max-width: 1440px) {
    .card {
      width: 100%;
      justify-content: center; } }
  @media (max-width: 575px) {
    .card {
      flex-direction: column; } }

.card__image {
  object-fit: cover;
  border-radius: 10px;
  margin-right: 24px; }
  @media (max-width: 575px) {
    .card__image {
      margin: 0 auto; } }

.card__tags {
  display: block; }
  @media (max-width: 767px) {
    .card__tags {
      display: none; } }

.card__tag {
  padding: 8px 16px;
  border-radius: 32px;
  display: inline-flex;
  margin-right: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #46211a; }
  .card__tag:first-of-type {
    background: rgba(186, 85, 54, 0.3); }
  .card__tag:last-of-type {
    margin-right: 0;
    background: rgba(0, 59, 70, 0.3); }
  .card__tag svg {
    width: 13px;
    height: 10px;
    margin-right: 8px; }

.card__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #a43820; }
  @media (max-width: 575px) {
    .card__name {
      margin-top: 20px; } }

.card__price {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #46211a;
  opacity: 0.6; }
  @media (max-width: 575px) {
    .card__price {
      margin: 10px 0; } }

.card__descript {
  display: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #46211a; }
  .card__descript p {
    display: inline-block; }
  @media (max-width: 575px) {
    .card__descript {
      display: none; } }

.card__details {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: #a43820;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: 1s; }

.review-card {
  padding: 44px 24px 24px;
  margin: 35px 0 24px;
  border-radius: 10px;
  box-sizing: border-box;
  background: rgba(241, 220, 201, 0.1);
  height: initial;
  display: flex;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  position: relative; }

.review-card__img {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 50%; }

.review-card__author {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a43820; }

.review-card__descript {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #46211a; }

.review-card__star {
  margin-bottom: 15px;
  margin-top: 5px; }
  .review-card__star svg {
    width: 12px;
    height: 12px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header_inner {
  padding: 24px 120px;
  overflow-x: hidden; }
  @media (max-width: 991px) {
    .header_inner {
      padding: 24px 60px; } }
  @media (max-width: 767px) {
    .header_inner {
      padding: 24px 30px; } }
  @media (max-width: 575px) {
    .header_inner {
      padding: 24px 20px; } }

.logo-group {
  display: flex;
  align-items: center; }

.logo__image {
  margin-right: 10px; }
  .logo__image svg {
    width: 24px;
    height: 24px;
    fill: #a43820; }

.logo__name {
  color: #a43820; }

.header-burger {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 55px;
  display: none; }
  @media (max-width: 1280px) {
    .header-burger {
      display: block;
      position: absolute;
      width: 40px;
      height: 25px;
      z-index: 20; } }
  @media (max-width: 1280px) {
    .header-burger::before, .header-burger::after {
      content: "";
      background-color: #a43820;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s; } }
  @media (max-width: 1280px) {
    .header-burger::before {
      top: 0; } }
  @media (max-width: 1280px) {
    .header-burger::after {
      bottom: 0; } }
  .header-burger span {
    background-color: #a43820;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%); }

.header-burger_active::before {
  transform: rotate(45deg);
  top: 18px;
  background-color: white; }

.header-burger_active::after {
  transform: rotate(-45deg);
  bottom: 4.5px;
  background-color: white; }

.header-burger_active span {
  transform: scale(0); }

@media (max-width: 1280px) {
  .header-burger__item {
    background-color: #a43820;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 6.5px;
    transition: all 0.3s ease 0s; } }

.header-menu {
  display: flex; }
  @media (max-width: 1280px) {
    .header-menu {
      position: absolute;
      right: -100%;
      top: 0;
      transform: scale(0); } }

.header-menu_active {
  transform: scale(1);
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  background-color: #1e434c;
  padding: 80px 50px;
  z-index: 10;
  transition: all 1s ease-out 0s;
  overflow: auto;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 0 0 0 20px; }
  @media (max-width: 768px) {
    .header-menu_active {
      width: 50%; } }
  @media (max-width: 575px) {
    .header-menu_active {
      width: 70%; } }

.header-menu__item {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-right: 56px;
  transition: 1s;
  color: #1e434c; }
  .header-menu__item:hover {
    transition: 1s;
    text-decoration: overline; }
  .header-menu__item:last-child {
    margin-right: 0; }
  @media (max-width: 1280px) {
    .header-menu__item {
      color: white; } }

.buttons-line {
  display: flex; }
  @media (max-width: 991px) {
    .buttons-line {
      flex-direction: column;
      width: fit-content;
      margin: 32px auto 0 auto; } }

@media (max-width: 1280px) {
  .buttons-line_header .buttons-line__item {
    border-color: white;
    background: white;
    color: #1e434c; }
    .buttons-line_header .buttons-line__item:hover {
      color: white; } }

@media (max-width: 1280px) {
  .buttons-line_header .buttons-line__item_clear {
    background: transparent;
    border-color: rgba(255, 255, 255, 0);
    color: white; }
    .buttons-line_header .buttons-line__item_clear:hover {
      border-color: white; } }

.buttons-line__item {
  box-sizing: border-box;
  border: 1px solid #a43820;
  background: #a43820;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 11px 32px;
  margin-right: 8px;
  transition: 1s;
  text-align: center; }
  .buttons-line__item:last-child {
    margin-right: 0px; }
  .buttons-line__item:hover {
    background: transparent;
    transition: 1s;
    color: #a43820; }
  @media (max-width: 991px) {
    .buttons-line__item {
      margin-right: 0px;
      margin-bottom: 8px; } }

.buttons-line__item_clear {
  background: transparent;
  border-color: rgba(241, 220, 201, 0);
  color: #a43820;
  transition: 1s; }
  .buttons-line__item_clear:hover {
    border-color: #a43820;
    transition: 1s; }

.buttons-line__item_border {
  background: transparent;
  color: #a43820;
  transition: 1s; }
  .buttons-line__item_border:hover {
    border-color: #1e434c;
    color: #1e434c;
    transition: 1s; }

.buttons-line__item_green:hover {
  border-color: #1e434c;
  background: #1e434c;
  color: white;
  transition: 1s; }

.buttons-line_wrapper {
  margin-top: 32px; }

.preview {
  text-align: start; }
  @media (max-width: 991px) {
    .preview {
      text-align: center; } }

.preview-text_wrapper {
  margin-right: 62px; }
  @media (max-width: 991px) {
    .preview-text_wrapper {
      margin-right: 0px; } }

.section__upper-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #46211a;
  opacity: 0.6; }

.section__upper-text_centered {
  text-align: center; }

.page__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  margin-top: 8px;
  margin-bottom: 16px;
  color: #a43820; }

.section__text,
.line__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #46211a; }

.preview-images_hidden {
  display: none;
  margin-top: 32px; }
  @media (max-width: 991px) {
    .preview-images_hidden {
      display: block; } }

.preview-images__img {
  border-radius: 320px 320px 0px 0px;
  border: 1px solid #4c3f54;
  margin-right: 16px; }
  .preview-images__img:last-child {
    margin-right: 0px; }
  @media (max-width: 575px) {
    .preview-images__img {
      width: 260px;
      height: 396px; } }

.preview-images__img_bottom {
  padding-right: 16px;
  margin-top: 110px;
  display: block; }
  @media (max-width: 1280px) {
    .preview-images__img_bottom {
      display: none; } }

.preview-images__img_top {
  padding-left: 16px; }
  @media (max-width: 991px) {
    .preview-images__img_top {
      margin: 0 auto; } }

.dots {
  display: block;
  position: absolute;
  width: 72px;
  height: 56px; }
  .dots:first-of-type {
    top: 0;
    right: 0; }
  .dots:last-of-type {
    bottom: 0;
    left: 0; }

.section__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #a43820;
  margin-top: 8px;
  margin-bottom: 40px; }

.section__title_centered {
  text-align: center; }

@media (max-width: 767px) {
  .line {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto; } }

.line__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(241, 220, 201, 0.1);
  border-radius: 10px; }
  .line__item svg {
    width: 48px;
    height: 48px;
    margin: 0 auto 32px auto; }
    @media (max-width: 767px) {
      .line__item svg {
        margin: 0 16px 0 0; } }
  @media (max-width: 767px) {
    .line__item {
      flex-direction: row;
      text-align: start;
      align-items: center; } }

.line__item_width {
  width: calc((100% - 48px) / 3); }
  @media (max-width: 767px) {
    .line__item_width {
      width: 100%;
      margin-bottom: 20px; } }

.line__item_height {
  margin-bottom: 24px; }
  .line__item_height:last-child {
    margin-bottom: 0px; }

.item_inner {
  padding: 24px; }

.line__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #4c3f54; }

.section__image {
  border-radius: 10px;
  object-fit: cover;
  position: relative; }

.property-dots .dots:first-of-type {
  top: -28px;
  right: 596px; }
  @media (max-width: 1400px) {
    .property-dots .dots:first-of-type {
      top: 140px;
      left: 0;
      right: initial; } }

.property-dots .dots:last-of-type {
  top: 520px;
  right: -36px;
  left: initial; }
  @media (max-width: 1400px) {
    .property-dots .dots:last-of-type {
      top: 635px;
      right: 0; } }

@media (max-width: 1400px) {
  .property__image {
    width: 100%;
    max-width: 632px; } }

.property__image_hidden {
  display: none;
  margin: 24px auto; }
  @media (max-width: 1400px) {
    .property__image_hidden {
      display: block; } }

@media (max-width: 1400px) {
  .property {
    text-align: center; } }

@media (max-width: 1400px) {
  .property .line__item {
    max-width: 800px;
    text-align: start; } }

.property-text_wrapper {
  margin-right: 62px; }
  @media (max-width: 1400px) {
    .property-text_wrapper {
      margin: 0 auto; } }

.offer {
  position: relative; }
  .offer .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 8px !important;
    background: #a43820; }

.offer-swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }
  @media (max-width: 1440px) {
    .offer-swiper .swiper-slide {
      flex-direction: column; } }

.swiper.offer-swiper {
  padding-bottom: 40px; }

.blog-dots .dots:first-of-type {
  top: -28px;
  left: -36px; }
  @media (max-width: 991px) {
    .blog-dots .dots:first-of-type {
      left: calc(50% - 258px); } }
  @media (max-width: 575px) {
    .blog-dots .dots:first-of-type {
      left: calc(50% - 184px); } }

.blog-dots .dots:last-of-type {
  top: 520px;
  right: -28px;
  left: initial; }
  @media (max-width: 1280px) {
    .blog-dots .dots:last-of-type {
      top: 370px; } }
  @media (max-width: 991px) {
    .blog-dots .dots:last-of-type {
      right: calc(50% - 258px); } }
  @media (max-width: 575px) {
    .blog-dots .dots:last-of-type {
      right: calc(50% - 184px);
      top: 225px; } }

@media (max-width: 991px) {
  .blog .line {
    text-align: center;
    margin-left: 0; } }

.line__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4c3f54;
  margin-bottom: 12px; }

.line__img {
  border-radius: 10px;
  object-fit: cover;
  margin-right: 16px; }

.line_wrapper {
  margin-left: 64px; }

.item_inner-mini {
  padding: 16px;
  text-align: start; }

.blog .line__item {
  flex-direction: row; }

.image-block {
  position: relative; }
  @media (max-width: 1280px) {
    .image-block .section__image {
      width: 100%;
      height: 400px; } }
  @media (max-width: 991px) {
    .image-block .section__image {
      width: 445px; } }
  @media (max-width: 575px) {
    .image-block .section__image {
      width: 295px;
      height: 254px; } }

.image-block_hidden_bottom {
  position: relative;
  display: none; }
  @media (max-width: 991px) {
    .image-block_hidden_bottom {
      display: block;
      margin-bottom: 24px; } }

.image-block_hidden_top {
  max-width: 632px;
  position: relative;
  display: block; }
  @media (max-width: 1280px) {
    .image-block_hidden_top {
      width: 70%; } }
  @media (max-width: 991px) {
    .image-block_hidden_top {
      display: none; } }

.image-block__name {
  margin-top: 44px; }
  @media (max-width: 991px) {
    .image-block__name {
      text-align: start; } }

@media (max-width: 991px) {
  .image-block__text {
    text-align: start; } }

.image-block__read {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #46211a;
  display: inline-flex;
  margin-left: 10px;
  opacity: 0.6;
  transition: 0.5s; }
  .image-block__read:hover {
    opacity: 1;
    transition: 0.5s; }

.author {
  position: absolute;
  top: 476px;
  left: 0;
  box-sizing: border-box;
  background: #1e434c;
  border-radius: 0px 0px 0px 10px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  color: white; }
  @media (max-width: 1280px) {
    .author {
      top: 328px; } }
  @media (max-width: 991px) {
    .author {
      left: calc(50% - 222px); } }
  @media (max-width: 575px) {
    .author {
      left: calc(50% - 148px);
      top: 182px; } }

.author__image {
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover; }

.author__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.author__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px; }

.author__text {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.review {
  text-align: center;
  position: relative; }
  .review .swiper-pagination .swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    border-radius: 24px;
    margin: 0 4px !important;
    background: #a43820; }

.review-swiper {
  padding-bottom: 48px !important;
  margin-bottom: 40px; }

@media (max-width: 767px) {
  .container_footer {
    flex-direction: column; } }

.footer__contacts {
  max-width: 350px;
  margin-right: 30px; }

.footer__navgation {
  width: 50%; }
  @media (max-width: 767px) {
    .footer__navgation {
      width: 100%;
      margin-top: 30px;
      justify-content: space-around; } }

.footer__column_subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #a43820; }

.footer__column_link {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #46211a;
  transition: 0.5s; }
  .footer__column_link:hover {
    color: #a43820;
    transition: 0.5s; }

.footer-icon {
  margin-top: 20px;
  display: flex; }
  .footer-icon svg {
    margin-right: 12px;
    width: 20px;
    height: 20px; }

.footer__contacts .logo-group {
  margin-bottom: 20px; }

.footer__span {
  margin: 24px 0;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #46211a; }

